
body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
    margin: 0;
}
.navbar {
    background-color: #228b22; 
    padding: 0 70px; 
    margin: 0;
    width: 100%;
    z-index: 1000;
    transition: all 0.3s ease; 
}
.text-custom{
    color: #228b22;
}



.sticky {
    position: fixed; 
    top: 0;
    left: 0;
    right: 0;
}
.content {
    height: 2000px; 
}

.spinner-medium {
    width: 1rem !important;
    height: 1rem !important;
}

.nav-pills{
    padding:3px;
    transition: all 0.3s ease; 
}
.fixed-nav {
    position: fixed;
    top: 65px;
    left: 0;
    right: 0;
    z-index: 999; 
}
.pills-icon{
    color:#228b22;
    font-size:1rem;
}
/* Class for fixed navbar */


.container-fluid {
}

.navbar-brand {
    font-weight: bold;
    color: white;
    font-size: 30px;
    margin: 0;
    display: flex;
    align-items: center; 
}

.navbar-brand .text-color2 {
    color: #fafafa; 
}

.navbar-toggler {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none; 
    background-color: transparent; 
    padding-left: 10px;
}

.navbar-toggler .fa-bars {
    color: white; 
    font-size: 1.3em; 
}
.navbar-toggler .fa-bars:active,
.navbar-toggler .fa-bars:focus {
    color:
    outline: none; 
    border-shadow: none; 
    box-shadow: none;
}
.navbar-toggler.custom-toggler:focus,
.navbar-toggler.custom-toggler:active {
    outline: none; 
    border: none;
}

.navbar-nav {
    display: flex;
    align-items: center; 
    margin: 0; 
    padding: 0; 
    list-style: none;
}
.container-fluid {
    padding: 5px 0;
}
.navbar-nav .nav-item {
    display: flex;
    align-items: center;
    margin: 0 5px; 
    padding: 0; 
}

.navbar-nav .nav-link {
    color: white;
    font-size: 20px;
    display: flex;
    align-items: center;
    padding: 10px; 
    margin: 0;
}


.navbar-nav .nav-link:hover {
    color: #ffd700;
}

.navbar-nav .cart .nav-link {
    position: relative;
}

.navbar-nav .cart .nav-link::after {
    position: absolute;
    top: 60%;
    right: -5px;
    transform: translateY(-50%);
    background: #333333;
    color: white;
    border-radius: 50%;
    padding: 2px 5px;
    font-size: 10px;
    width: 20px;
    text-align: center;
    opacity: 0.5;
}
.navbar-nav .order .nav-link::after {
    content: "0";
    position: absolute;
    top: 60%;
    right: -5px;
    transform: translateY(-50%);
    background: #333333;
    color: white;
    border-radius: 50%;
    padding: 2px 5px;
    font-size: 10px;
    width: 20px;
    text-align: center;
    opacity: 0.5;
}

.navbar-nav .order .badge {
    position: absolute;
    top: 60%;
    right: -5px;
    transform: translateY(-50%);
    background: #333333;
    color: white;
    border-radius: 50%;
    padding: 5px 5px;
    font-size: 11px;
    width: 20px;
    height:20px;
    text-align: center;
    opacity: 0.7;
}

.navbar-nav .application .nav-link::after {
    content: "0";
    position: absolute;
    top: 60%;
    right: -5px;
    transform: translateY(-50%);
    background: #333333;
    color: white;
    border-radius: 50%;
    padding: 2px 5px;
    font-size: 10px;
    width: 20px;
    text-align: center;
    opacity: 0.5;
}

.navbar-nav .application .application-badge {
    position: absolute;
    top: 60%;
    right: -5px;
    transform: translateY(-50%);
    background: #333333;
    color: white;
    border-radius: 50%;
    padding: 5px 5px;
    font-size: 11px;
    width: 20px;
    height:20px;
    text-align: center;
    opacity: 0.7; 
}
.navbar-nav .payment .nav-link::after {
    content: "0";
    position: absolute;
    top: 60%;
    right: -5px;
    transform: translateY(-50%);
    background: #333333;
    color: white;
    border-radius: 50%;
    padding: 2px 5px;
    font-size: 10px;
    width: 20px;
    text-align: center;
    opacity: 0.5;
}

.navbar-nav .payment .payment-badge {
    position: absolute;
    top: 60%;
    right: -5px;
    transform: translateY(-50%);
    background: #333333;
    color: white;
    border-radius: 50%;
    padding: 5px 5px;
    font-size: 11px;
    width: 20px;
    height:20px;
    text-align: center;
    opacity: 0.7;
}



/* Override popover styling */
.bs-popover-auto {
    max-height:350px !important;
    min-width:350px;
}

.popover-body{
    padding:0;
}

/* Popover arrow customization */
.bs-popover-auto .arrow::before {
    background-color: #f8f9fa !important; 
}

.orderpover{
    max-height:500px !important;
    min-width:450px;
}

/* Popover arrow customization */
.orderpover .arrow::before {
    background-color: #f8f9fa !important;
}


.cart-item p{
    margin-bottom: 0 !important;
}
.btn-continue{
    background-color: transparent;
}
.btn-continue:hover,
.btn-continue:active{
    border-color: #228b22;
    color: #228b22;
}

.cart-items-container {
    max-height: 200px; 
    overflow-y: auto;  
    padding-right: 10px; 
}

.cart-item {
    margin-bottom: 10px;
    padding: 5px 0;
    border-bottom: 1px solid #ddd;
}

.cart-item img {
    border-radius: 5px;
}

.cart-item button.remove-item {
    background: none;
    border: none;
    color: red;
    font-size: 1.2rem;
    cursor: pointer;
}

    .product-link {
        text-decoration: none;
        color: #000;
    }
    .product-link:hover {
        color: #228b22; 
    }
    .form-control .search-control {
        border-radius: 20px;
        padding-right: 2.5rem;
        width:400px !important;
    }

    .form-control {
        display: block;
        width: 100%;
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #212529;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #228b22; 
        border-radius: 0.25rem;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }

    /* Focus state */
    .form-control:focus {
        color: #212529;
        background-color: #fff;
        border-color: #228b22; 
        outline: 0;
        box-shadow: 0 0 0 0.25rem rgba(34, 139, 34, 0.25); 
    }

    /* Disabled state */
    .form-control:disabled, .form-control[readonly] {
        background-color: #e9ecef;
        opacity: 1;
    }

    /* Placeholder text styling */
    .form-control::placeholder {
        color: #6c757d;
        opacity: 1;
    }

    /* Textarea adjustments */
    textarea.form-control {
        resize: vertical;
    }

    /* Custom select styling */
    .form-select {
        padding-right: 2.25rem;
        background: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' ... %3C/svg%3E") no-repeat right 0.75rem center/8px 10px;
        background-color: #fff;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }

    .form-select:focus {
        border-color: #228b22; 
        box-shadow: 0 0 0 0.25rem rgba(34, 139, 34, 0.25); 
    }
    .return-hidden-icon{
        display:none;
    }

.search-icon {
    position: absolute;
    right: 0.5rem;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    color: #333;
    cursor: pointer;
}

.btn-outline {
    color: white;
    border-color: white;
}

.btn-outline:hover {
    background-color: #ffd700;
    border-color: #ffd700;
}

.top-info {
    background-color: #333;
    color: white;
    padding: 5px 0;
    text-align: center;
    font-size: 14px;
    margin: 0;
}

.login-text {
    color: white; 
    line-height: 1.2; 
    font-size: 13px;
    margin: 0;
}

.login-text:hover {
    color: #ffd700; 
}

.fa-user,
.fa-shopping-cart,
.fa-heart,
.fa-truck-fast,
.fa-map-location-dot,
.fa-store,
.fa-rectangle-list,
{
    font-size: 1.5rem;
    margin: 0;
}


.mobile-nav .sticky{
    display:none;
}

.navbar-nav .nav-link span {
    line-height: normal; 
    vertical-align: middle; 
    margin-left: 5px; 
}

.cart-text {
    color: white;
    font-weight: bold;
    margin: 0;
}


/* Sidebar Styles */
.sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background: rgba(250, 250, 250, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
    display: flex;
    flex-direction: column;
    box-shadow: 5px 0 15px rgba(0, 0, 0, 0.3);
    padding-top: 24px;
}

.sidebar .sidebar-title {
    padding-left: 16px;
    color: #228b22;
}
.sidebar a:hover {
    color: #f1f1f1;
}

.sidebar a {
    text-decoration: none;
}

.sidebar .closebtn {
    position: absolute;
    top: 8px;
    right: 20px;
    font-size: 36px;
    cursor: pointer;
    color: #333;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    flex-grow: 1; 
}

.sidebar ul li {
    padding: 8px 16px;
    border-bottom: 1px solid #ddd;
}

.sidebar ul li a {
    text-decoration: none;
    color: #228b22;
    display: flex;
    align-items: center;
}

.sidebar ul li a i {
    margin-right: 10px;
}

.sidebar .footer {
    padding: 10px;
    background-color: #228b22;
    text-align: center;
    border-top: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sidebar .footer a {
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 0;
}

.sidebar .footer a i {
    padding: 0 10px
}

.sidebar .footer .settings {
    margin-bottom: 15px;
}

/* Secondary menu background color */
.secondary-menu {
}

/* Nav links color */
.secondary-menu .nav-link {
    font-weight: bold;
    color:#212529;
}

/* Nav links hover effect */
.secondary-menu .nav-link:hover {
}
.category-sidebar {
    position: fixed;
    top: 0;
    right: -350px; 
    width: 350px;
    height: 100%;
    background-color: #f9f9f9;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
    transition: right 0.3s ease;
    z-index: 1050;
    padding: 20px;
    overflow-y: auto;
}

.category-sidebar.show {
    right: 0; 
}

.sidebar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.btn-close {
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
}
.custom-dropdown-width {
    width: 1000px; 
}

.btn-custom {
    background-color: #228b22; 
    border-color: #228b22;
    color: #fff; 
}

.btn-custom:hover,
.btn-custom:focus {
    background-color: #fafafa; 
    border-color: #228b22; 
    color: #228b22;
}

.nav-item.dropdown:hover .dropdown-menu {
    display: block;        
    margin-top: 0;        
    top: 101%;                
    left: 0;                  
    transform: none;          
    position: absolute;       
    z-index: 1000;           
}

.dropdown-menu {
    padding: 0.5rem 0.5rem; 
    --bs-dropdown-link-active-bg: transparent; 
    --bs-dropdown-link-color: #000000;
}

/* Container for each category item */
.category-item {
    position: relative;
}

/* Initially hide the hover content */
.category-hover-content {
    visibility: hidden;  
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6); 
    color: #fff;
    width: 100%;
    padding: 10px;
    text-align: center;
    transition: opacity 0.3s ease, visibility 0s 0.3s;  
}

/* Show hover content on hover */
.category-item:hover .category-hover-content {
    visibility: visible; 
    opacity: 1; 
    transition: opacity 0.3s ease, visibility 0s 0s;  
}

/* Category box style */
.category-box {
    height: 100px; /
    border: 2px solid #4CAF50;
    position: relative;
}

/* Image inside category box */
.category-box img {
    object-fit: cover; 
    height: 100%;
    width: 100%;
}

/* Overlay style on category box */
.category-name-overlay {
    bottom: 0;
    height: 40px;
    background: linear-gradient(to top, rgba(76, 175, 80, 0.9), rgba(76, 175, 80, 0.1)); 
}

/* Optional: Style the category row */
.row.category {
    padding: 10px; 
    border-radius: 8px; 
    background-color: #f9f9f9; 
}

/* For dropdown transition effect (for showing/hiding categories) */
.transition-dropdown::hover {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out, opacity 0.5s ease-out;
    opacity: 0;
}


.transition-dropdown.show {
    max-height: 1000px; 
    opacity: 1;
}
    .breadcrumb a {
        text-decoration: none;
        font-size: 1rem;
        color: #666;
        transition: color 0.3s;
    }
    .breadcrumb a:hover {
        color: #228b22;
    }
    .breadcrumb .breadcrumb-item.active {
        font-weight: bold;
        color: #228b22;
    }
    #floatingMessageIcon {
        position: fixed;
        bottom: 20px;
        right: 20px;
        width: 50px;
        height: 50px;
        background-color: #228b22;
        border-radius: 50%;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        z-index: 1000;
    }

    #floatingMessageIcon img {
        width: 100%;
        height: 100%;
    }




@media (max-height: 450px) {
    .sidebar {
        padding-top: 15px;
    }
    .sidebar a {
        font-size: 18px;
    }
}

/* Default: Hide mobile navigation, show desktop navigation */
.mobile-search-form {
    display: none;
}

.mobile-nav {
    display: none; /* Initially hidden */
    width: 100%;
    z-index: 1000;
    transition: top 0.3s;
}

/* Sticky class to make the nav fixed at the top */
.mobile-nav.sticky {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}


.desktop-nav {
    display: flex;
}
/* Positioning and styling for search suggestions */
#searchSuggestions {
    max-height: 300px; /* Set a max height for overflow handling */
    overflow-y: auto;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

/* Style for individual suggestion items */
#searchSuggestions .list-group-item {
    padding: 8px 12px;
    cursor: pointer;
}

/* Highlighting hovered suggestions */
#searchSuggestions .list-group-item:hover {
    background-color: #f0f0f0;
}
#orderProductImage {
    width: 60px;
    height: 60px;
}
.btn-custom {
    color: #fff;
    background-color: #228b22;
    border-color: #228b22; 
}

.btn-custom:hover {
    color: #fff;
    background-color: #1c781c;
    border-color: #1a6e1a; 
}

.btn-custom:focus,
.btn-custom.focus {
    color: #fff;
    background-color: #1c781c; 
    border-color: #1a6e1a;
    box-shadow: 0 0 0 0.25rem rgba(34, 139, 34, 0.5); 
}

.btn-custom:active,
.btn-custom.active,
.show > .btn-custom.dropdown-toggle {
    color: #fff;
    background-color: #1a6e1a; 
    border-color: #186618;
}

.btn-custom:disabled,
.btn-custom.disabled {
    color: #fff;
    background-color: #228b22;
    border-color: #228b22;
    opacity: 0.65; 
}
.btn-outline-custom {
    color: #228b22; 
    background-color: transparent; 
    border-color: #228b22; 
}

.btn-outline-custom:hover {
    color: #fff; 
    background-color: #228b22; 
    border-color: #228b22; 
}

.btn-outline-custom:focus,
.btn-outline-custom.focus {
    color: #fff;
    background-color: #228b22;
    border-color: #228b22;
    box-shadow: 0 0 0 0.25rem rgba(34, 139, 34, 0.5);
}

.btn-outline-custom:active,
.btn-outline-custom.active,
.show > .btn-outline-custom.dropdown-toggle {
    color: #fff;
    background-color: #1c781c;
    border-color: #1a6e1a;
}

.btn-outline-custom:disabled,
.btn-outline-custom.disabled {
    color: #228b22; /* Forest green text */
    background-color: transparent; /* Transparent background */
    border-color: #228b22;
    opacity: 0.65; /* Reduced opacity for disabled state */
}
.full-star {
    color: #FFD700; 
}

.half-star {
    color: #FFD700; 
}

.empty-star {
    color: #C0C0C0; 
}
.check-icon{
    color: #228b22;
}
.exclamation-icon{
    color: #ffcc00;
}



/* Mobile View: Show mobile navigation, hide desktop navigation */
@media (max-width: 576px) {
    .navbar {
        padding-left: 15px; 
        padding-right: 10px; 
    }
    .nav-link .fa-house,
    .nav-link .fa-table-list,
    .nav-link .fa-table-cells-large,
    .nav-link .fa-heart{
        margin-right: 15px;
        font-size: 1.3rem;
    }
    .nav-link .fa-truck-fast {
        margin-right: 8px;
        font-size: 1.3rem;
    }
    .top-info {
        display: none;
    }
    .navbar-brand {
        display: flex;
        align-items: center;
        font-size: 21px;
        margin: 10px 0px 10px 10px;
    }

    .navbar-toggler.custom-toggler {
        padding: 0; 
        margin: 0; 
        box-shadow: none;
    }
    .navbar-nav {
        display: flex;
        align-items: center;
        margin: 0;
        padding: 0; 
        flex-direction: row;
    }
    .fa-user,
    .fa-shopping-cart,
    .fa-map-location-dot,
    .fa-search {
        font-size: 1.2rem;
        margin: 0;
    }
    .navbar-nav .nav-link {

        display: flex;
        align-items: center;
        padding: 0 5px;
        margin: 0;
    }

    .navbar-nav .cart .nav-link::after {
        top: 65%;
        right: -5px;
        transform: translateY(-50%);
        width: 20px;
        padding: 2px 2px;
    }

    .login-text,
    .navbar-right form {
        display: none !important;
    }

    .mobile-nav {
        display: flex !important; 
    }

    .desktop-nav {
        display: none !important; 
    }

    /* Smooth transitions for collapse */
    .collapse {
        transition: 0.4s ease-in-out;
    }

    .collapse.show {
        transition: height 0.4s ease-in-out;
    }

    /* Mobile Search Form */
    #mobile-search-form {
        background-color: #228b22; 
        padding: 10px;
        width: 100%;
        z-index: 1000; 
        border-radius: 0px 0px 30px 30px;
    }
}
/* Custom styles for the secondary menu */
.secondary-menu {
    display: none;
}
@media (min-width: 992px) {
    .secondary-menu {
        display: block;
    }
}

/* Tablet View: Adjust styles for tablets */
@media (min-width: 577px) and (max-width: 1024px) {
    .navbar-brand {
        padding-right: 0;
    }
    .navbar {
        padding: 0 30px;
        flex-wrap: nowrap;
        align-content: normal;
        justify-content: space-betweenm;
        align-items: center;
    }

    .navbar-nav {
        display: flex;
        align-items: center;
        margin: 0;
        padding: 0; 
        flex-direction: row;
    }

    .navbar-nav .nav-link {
        font-size: 17px; 
        display: flex;
        align-items: center;
        padding: 0 5px;
        margin: 0;
    }
    .navbar-brand {
        font-size: 28px; 
    }

    .navbar-nav .nav-link {
        font-size: 18px;
    }
    .navbar-toggler.custom-toggler {
        box-shadow: none;
    }
    .sidebar-title{
        margin-top:10px;
    }


    .form-control {
        border-radius: 15px; 
        padding-right: 2rem; 
    }
    .mobile-nav {
        display: none !important; 
    }

    .desktop-nav {
        display: flex !important;
    }
}
@media (max-width: 846px) {
    .login-text {
        display: none;
    }
}

/* Large Desktop View: Default styles for large desktops */
@media (min-width: 1025px) {
    .navbar {
        padding: 0 70px;
    }

    .navbar-brand {
        font-size: 30px;
    }

    .navbar-nav .nav-link {
        font-size: 20px; 
    }
}
